menu "OmegaBLEController Configuration"
    config OMEGA_BLE_DEBUG
        bool "Enable BLE Debugging"
        default "y"
        help
            This is used to enable or disable debug logs
endmenu